* {
    margin: 0;
    padding: 0;
}
body,html{
	color:#323232;
	font-size: 12px;
	font-family: sans-serif;
	background: #ffffff;
	/*background-color: #F8F8F8;*/
}
.clear{
	clear: both;
}
.error404{
	text-align: center;margin-top: 50px;
}
#basket_info{
	margin: 5px 5px 0 0;
	font-weight: bold;
	font-size: 13px; 
	float: right;
}
.back_to_home{
	display:block;text-align: center;margin: 20px;color: inherit;font-size: 14px;
}
.back_to_home:hover{
	color: #F54F29;
}
.auth-form{
	width: 400px;
	height: 200px;
	margin: 50px auto;
	background: #F1F1F1;
	border: 1px solid #C3C3C3;
}
.auth-form form{
	position: relative;
	margin: 40px auto;
	display: block;
	text-align: left;
}
.auth-form form label{
	width: 100px;
margin: 15px 10px 0 55px;
display: inline-block;
}
.main_menu{	
	width: 100%;
	height: 50px;	
}
.main_menu .menu_wrap{
	width: 760px;
	margin: 0 auto;
	/*text-align: center;*/	
}
.main_menu ul{
	text-align: center;
}
.main_menu ul li{
	display: inline-block;
	line-height: 50px;
	/*margin: 0 20px;*/
	opacity: 0.7;
}
.main_menu ul li a{
	/*width: 120px;*/
	width: 148px;
	font-size: 12px;
	display: block;
	line-height: 40px;
	text-decoration: none;
	color: #FFF;
	box-sizing: border-box;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 20px;
	outline: 2px solid #FFF;
	box-sizing: border-box;
	text-align: center;
}
.main_menu ul li:hover{
	opacity: 1;
}
.main_menu ul li a:hover{
	
	outline: 2px solid #c3c3c3;
/*	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;*/
}
.content{
	width: 760px;
	margin: 0 auto;
	height: auto;
	background: #fff;
}
.content .catalog{
	/*margin-top: 50px;*/
	padding-top: 50px;
	text-align: center;
	box-sizing: border-box;
}
.content .catalog h1,.content .basket h1,.content .orders h1{
	margin-bottom: 30px;
}
.content .catalog img{
	outline:1px solid #C3C3C3;
}
.content .catalog a{
	text-decoration: none;
	color: inherit;
}

.content .catalog .item{
	display: inline-block;
	margin: 0 30px;
	width: 180px;
	height: 180px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 14px;
}
.content .catalog .item:hover img{
	outline: 2px solid #F54F29;
}
.content .catalog .item:hover a{
	color: #F54F29;
}
.content .product,.content .basket{
	padding: 50px 50px 0;
	box-sizing: border-box;
}
.content .product .photo_wrap{
	width: 200px;
	height: 200px;
	display: block;
	float: left;
	outline: 2px solid #c3c3c3;
}
.content .product .product_info{
	display: block;
	float: left;
	/*float: right;*/
	margin-left: 80px;
}
.content .product .btn, .content .basket .btn{
	width: 110px;
	background: #98C654;
	font-size: 12px;
	display: block;
	line-height: 30px;
	text-decoration: none;
	color: #FFF;
	box-sizing: border-box;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 5px;
	outline: 2px solid #FFF;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	opacity: 0.8;
	outline: 1px solid #c3c3c3;
	margin-top: 30px;
}
.content .basket .btn{
	width: 150px;
	margin-bottom: 20px;
}
.content .product .btn:hover,.content .basket .btn:hover{
	opacity: 1;
	outline: 2px solid #c3c3c3;
}
.content .basket .items_list ul.head li{
	height: 30px;
	line-height: 30px;
}
.content .basket .items_list ul{
	display: inline-block;
	width: 100%;
	border: 1px solid #c3c3c3;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.content .basket .items_list ul li{
	width: 25%;
	height: 100px;
	text-align: center;
	line-height: 100px;
	float: left;
	display: block;
	box-sizing: border-box;
	list-style: none;
}
.content .basket .items_list ul li a{
	/*text-decoration: none;*/
	color: inherit;
}
.content .basket .items_list ul li .remove{
	cursor: pointer;
}
.content .basket .items_list ul li .remove:hover{
	color: #F54F29;
}
.content table.orders{
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
.content table.orders th{
	width: 30%;
	padding: 10px;
}
.content table.orders td{
	width: 30%;
	padding: 10px;
	border: 1px solid #DDD;
}
.content table.orders li{
	list-style: none
}
.content table.orders .order_items{
	width: 100%; border: 1px solid #DDD;padding:5px;box-sizing: border-box
}
.content table.orders .order_items li{
	float: left;
}
#go_filter{
	margin-top: 20px;
}